.home-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.resume-icon{
  position: absolute;
  width: 30vh;
  height: 7vh;
  top: 3.5vh;
  right: 2vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#BitMoji{
  height: 100%;
  margin: auto;
  opacity: 0;
  animation: fade-down 1s ease forwards 0.5s;
}

.resume-button{
  margin: auto;
  opacity: 0;
  animation: fade-down 1s ease forwards 0s;
}

@keyframes fade-down{
  from{
    transform: translateY(-3vh);
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.content-wrapper{
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15vh;
  height: 85vh;
  width: 100%;
}

.title-section{
  line-height: 2vh;
  text-align: center;
}

.title-section h3{
  color: #000000;
  animation: fade-up 1.5s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
.title-section h1{
  color: #6e72da;
  font-size: 8vh;
  animation: fade-up 1.5s ease forwards;
  animation-delay: 0.9s;
  opacity: 0;
}

.title-section h2{
  font-family: OpenSans;
  font-size: 7vh;
  line-height: 5.5vh;
  color: #000000;
  opacity: 0;
  animation: fade-up-alternate 1.5s ease forwards;
  animation-delay: 1.1s;
}

@keyframes fade-up{
  from{
    opacity: 0;
    transform: translateY(3vh);
  }
  to{
    opacity: 1;
  }
}

@keyframes fade-up-alternate{
  from{
    opacity: 0;
    transform: translateY(3vh);
  }
  to{
    opacity: 0.5;
  }
}

.intro-section{
  margin-top: 5vh;
  font-size: 2vh;
  font-family: OpenSans;
  text-align: center;
  width: 55ch;
  color: #000000;
  opacity: 0;
  animation: fade-up 1.5s ease forwards;
  animation-delay: 1.3s;
}

.contact{
  margin-top: 8vh;
  opacity: 0;
  animation: fade-up 1.5s ease forwards;
  animation-delay: 1.5s;
}

.pyramid{
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale(0.3);
  top: 20vh;
  left: 35%;
  opacity: 0;
  animation: fade-in 1.5s ease forwards 1.7s;
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.pyramid path:hover{
  fill: white;
  transition: 0.3s;
  cursor: pointer;
}